@font-face {
    font-family: HelveticaNeue;
    src: url('../assets/fonts/helveticaneue.ttf');
}

* {
    overflow-x: hidden;
    line-height: inherit !important;
}

body{
	scroll-behavior: smooth;
}

.section {
    scroll-snap-align: start end;
}

#Details {
    font-style: HelveticaNeue !important;
    padding: 7rem 0 2rem 0;
}

.DetailsHeader {
    padding: 0 0 0 3.5rem;
    overflow-y: hidden;
    font-weight: bold;
    font-size: 3rem;
    height: auto;
    margin: 0;
}

.DetailsPic {
    width: 20rem;
}

/* .DetailsColumnContent{
    transform: translate(0rem, -2rem);
} */

.DetailsColumnContentHeader {
    font-size: 2rem;
}

.DetailsColumnContentText{
    font-size: 1.3rem;
    color: rgb(116, 115, 115);
}


@media only screen and (max-width: 990px) {
    #Details {
        /* padding: 7rem 0 2rem 0; */
        text-align: center;
    }

    .DetailsHeader {
        padding: 0;
    }
    
    .DetailsColumnContentText {
        padding: 1rem 4rem 0;
    }

}