@font-face {
    font-family: HelveticaNeue;
    src: url('../assets/fonts/helveticaneue.ttf');
}

*{
    overflow-x: hidden;
}

body{
	scroll-behavior: smooth;
}

.section {
    scroll-snap-align: start end;
}

#JoinCommunity {
    font-style: HelveticaNeue !important;
    padding: 5rem 0 0 5rem;
    margin-bottom:5rem ;
}

.JoinCommunityContent {
    padding: 5rem 0 0 0;
}

.JoinCommunityHeader {
    font-weight: bold;
    font-size: 4.5rem;
    overflow-y: hidden;
}

.JoinCommunitySubHeader {
    font-size: 1.3rem;
    color: rgb(116, 115, 115);
    padding: 1.3rem 0 1rem 0;
    width: 30rem;
}

.JoinCommunityButton {
    font-size: 1.3rem;
}

.JoinCommunityButton:hover {
  background-color: #363D44;
}

.join {
    /* transform: scaleX(-1); */
    height: 35rem;
}

@media only screen and (max-width: 990px) {
    #JoinCommunity {
        font-style: HelveticaNeue !important;
        padding: 0;
        text-align: center;
    }

    .joinimg {
        text-align: center;
    }

    .join {
        height: 25rem;
    }

    .JoinCommunityContent {
        padding: 0;
        margin-bottom:2rem;
    }
    

    .JoinCommunityHeader {
        font-size: 3rem;
    }

    .JoinCommunitySubHeader {
        font-size: 1.2rem;
        padding: 1.3rem 1rem 0;
        width: auto;
    }

    .JoinCommunityButton {
        font-size: 1.3rem;
        padding-bottom:1rem;
    }

}