@font-face {
    font-family: HelveticaNeue;
    src: url('../assets/fonts/helveticaneue.ttf');
}

*{
    line-height: inherit !important;
    overflow-x: hidden
}

body{
	scroll-behavior: smooth;
}

.section {
    scroll-snap-align: start end;
}

#landingPage {
    font-style: HelveticaNeue !important;
    padding: 5rem 0 0 5rem;
}

.landingPageContent {
    padding: 5rem 0 0 0;
}

.landingPageHeader {
    font-weight: bold;
    font-size: 4.5rem;
}

.landingPageSubHeader {
    font-size: 1.3rem;
    color: rgb(116, 115, 115);
    padding: 1.3rem 0 1rem 0;
    width: 30rem;
}

.landingPageButton {
    font-size: 1.3rem;
}

.landingPageButton:hover {
  background-color: #363D44;
}

.searching {
    transform: scaleX(-1);
    height: 35rem;
}

@media only screen and (max-width: 990px) {
    #landingPage {
        font-style: HelveticaNeue !important;
        padding: 0;
        text-align: center;
    }

    .imgBox {
        text-align: center;
    }

    .searching {
        height: 25rem;
    }

    .landingPageContent {
        padding: 0;
    }


    .landingPageHeader {
        font-size: 3rem;
    }

    .landingPageSubHeader {
        font-size: 1.2rem;
        padding: 1.3rem 1rem 0;
        width: auto;
    }

    .landingPageButton {
        font-size: 1.3rem;
        padding-bottom:1rem;
    }

    .col-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}